@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --main-red-color: 190, 18, 60;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

.floating-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  border: 2px solid rgb(var(--main-red-color));
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  text-align: center;
}
